**/.DS_Store
**/__pycache__
.idea

data/filtered_images/*
!data/filtered_images/.gitkeep
data/images/*
!data/images/.gitkeep
data/keypoints/*
!data/keypoints/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/masks/*
!data/masks/.gitkeep
data/results/*
!data/results/.gitkeep
data/sift
data/mrcnn_templates
