**/.DS_Store
**/__pycache__
.idea

data/filtered_images/*
!data/filtered_images/.gitkeep
data/images/*
!data/images/.gitkeep
data/masks/*
!data/masks/.gitkeep
data/keypoints/*
!data/keypoints/.gitkeep
data/results/*
!data/results/.gitkeep

recognition/mask_rcnn
data/logs

test/*
